name: CI-focal
on:
  # By default, this workflow is not triggered when a PR is merged.
  pull_request:
  schedule:
    - cron: "0 6 * * *"  # 6am everyday.

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: pangtao22/quasistatic_simulator_base

jobs:
  detect_changes:
    runs-on: ubuntu-latest
    outputs:
      has_changes: ${{ steps.changes.outputs.setup }}
      image_name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      image_tag: ${{ steps.image_tag_pr.image_tag }}${{ steps.image_tag_main.image_tag }}
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            setup:
              - 'setup/**'
      - name: Set image_tag true
        id: image_tag_pr
        if: ${{ steps.changes.outputs.setup }}
        run: echo "image_tag=pr-${{ github.event.pull_request.number }}"  >> $GITHUB_OUTPUT
      - name: Set image_tag false
        id: image_tag_main
        if: ${{ !steps.changes.outputs.setup }}
        run: echo "image_tag=main"  >> $GITHUB_OUTPUT

  build_and_push:
    runs-on: ubuntu-latest
    needs: detect_changes
    if: needs.detect_changes.outputs.has_changes == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./setup/base.dockerfile
          push: true
          # Common tags:
          # pull requests: pr-<PR number>
          # push to main: main
          # scheduled nightly builds: main, nightly
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  test:
    runs-on: ubuntu-latest
    needs: [detect_changes, build_and_push]
    defaults:
      run:
        shell: bash
    container:
      image: ${{ needs.detect_changes.outputs.image_name }}:${{ needs.detect_changes.outputs.image_tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3


